$grid: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function breakpoint-next($breakpoint, $breakpoints){
  $names: map-keys($breakpoints);
  $index: index($names, $breakpoint);
  @return nth($names, $index + 1);
}

@mixin breakpoint-only($breakpoint, $breakpoints: $grid){
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  
  @if $breakpoint-value {
    $next-value: map-get($breakpoints, breakpoint-next($breakpoint, $breakpoints));
    @media (min-width: ($breakpoint-value)) and (max-width: ($next-value - 1)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-up($breakpoint, $breakpoints: $grid) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $breakpoint-value {
    @media (min-width: ($breakpoint-value)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-down($breakpoint, $breakpoints: $grid) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $breakpoint-value {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @content;
  }
}
